<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="ValueCurFileForFirst" value = "D:\\CallController.log"/>
    <add key ="ValueCurWordForFirst" value="StarWars" />
    <add key ="ValueCurFileSecond" value ="InformClientLog.txt"/>
    <add key ="ValueCurWordForSecond" value="English" />
    <add key ="ValueCurFileThird" value ="InformServerErrorLog.txt"/>
    <add key ="ValueCurWordForThird" value="blacknight" />

  </appSettings>
</configuration>